@tailwind base;
@tailwind components;
@tailwind utilities;


/* GLOBAL */
body {
    font-family: "Roboto Mono", monospace;
    @apply font-light;
}

/* GALLERY */

.grid-item {
    animation: SclAnimation 0.6s ease-in-out;
}

.menu-active {
    @apply bg-primary-400;
}

/* ANIMATIONS */

@keyframes SclAnimation {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
